language: node_js  #设置语言

node_js: stable  #设置相应的版本

install:
  #- npm install  #安装hexo及插件
  - yarn

script:
  - hexo cl  #清除
  - hexo g && gulp  #生成


cache: #缓存，可以节省集成的时间，这里我用了yarn，如果不用可以删除
  apt: true
  yarn: true
  directories:
    - node_modules

after_script:
  - cd ./public
  - git init

  - git add .
  - git commit -m "update"
  - git push --force --quiet "https://${blog}@${GH_REF}" master:master  #GH_TOKEN是在Travis中配置token的名称

git:
  submodules: false

before_install:
    - git config user.name "olsonaolson"  #修改name
    - git config user.email "olsonaolson@gmail.com"  #修改email
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
    # 由于使用了yarn，所以需要下载，如不用yarn这两行可以删除
    - curl -o- -L https://yarnpkg.com/install.sh | bash
    - export PATH=$HOME/.yarn/bin:$PATH
    - npm install -g hexo-cli

branches:
  only:
    - source  #只监测hexo分支，hexo是我的分支的名称，可根据自己情况设置
env:
 global:
   - GH_REF: github.com/51lucky/51lucky.github.io.git  #设置GH_REF，注意更改yourname
