language: node_js
node_js: stable
install:
- yarn
script:
- hexo cl
- hexo g && gulp
cache:
  apt: true
  yarn: true
  directories:
  - node_modules
after_script:
- cd ./public
- git init
- git remote add orign git@github.com:51lucky/51lucky.github.io.git
- git add .
- git commit -m "update"
- git push origin master:master --force --quiet
git:
  submodules: false
before_install:
- openssl aes-256-cbc -K $encrypted_51a4b960a013_key -iv $encrypted_51a4b960a013_iv -in travis.key.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- git config user.name "olsonaolson"
- git config user.email "olsonaolson@gmail.com"
- sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
- yarn global add hexo-cli
branches:
  only:
  - source
addons:
  ssh_known_hosts:
  - github.com
  - 172.247.39.3